.table tbody tr:hover{
    cursor: pointer;
    
}
.table tbody tr{
    
}

.paginacao{
    margin: 10px;
}
.paginacao button{
    margin-left: 5px
}
.text-right{
    position: relative;
    text-align: right;
}